.sidebar {
}

.sidebar__wrapper {
    width: 298px;
    min-height: 100vh;
    padding: 20px;
    border: 1px solid var(--color-accent2);
    border-top: 0;
}

.sidebar__options {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar__option {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.sidebar__option.active {
    color: var(--color-accent2);
}

.sidebar__option__title p {
    font-family: var(--font-family-base);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2%;
}
