.footer {
    background-color: var(--color-accent2);

    margin-bottom: 50px;
}

.footer__wrapper {
    padding: 40px 0 40px 0;
    display: flex;
}

.footer__phone {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-right: 143px;
}

.footer__phone__info {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white);
}

.footer__socials {
    display: inline-flex;
    gap: 20px;
    margin-left: auto;
}
